#buttons{
    scale: inherit;
    order: 4;
}


#myNumberInput{
    width: 457px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    order: 5;
}